<div class="p-4">
  <h1>Credits</h1>

  <div class="m-4">
    <h2>Code</h2>
    <div>
      <h4 class="">yjs</h4>
      <ul>
        <li>
          <a href="https://discuss.yjs.dev/t/persist-data-in-postgres/1176"
            >https://discuss.yjs.dev/t/persist-data-in-postgres/1176</a
          >
        </li>
        <li>
          <a href="https://github.com/gondar00/yjs-websocket-server-with-nestjs"
            >https://github.com/gondar00/yjs-websocket-server-with-nestjs</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4>Aframe</h4>
      <ul>
        <li>
          <a
            href="https://stackoverflow.com/questions/51380941/aframe-size-of-model"
            >https://stackoverflow.com/questions/51380941/aframe-size-of-model</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="m-4">
    <h4>Graphics</h4>
    <ul>
      <li>
        <a href="https://primefaces.org/cdn/primeng/images/usercard.png"
          >https://primefaces.org/cdn/primeng/images/usercard.png</a
        >
      </li>
      <li>
        <a
          href="https://www.vecteezy.com/vector-art/6852804-abstract-blue-background-simple-design-for-your-website"
          >https://www.vecteezy.com/vector-art/6852804-abstract-blue-background-simple-design-for-your-website</a
        >
      </li>
      <li>
        <a href="http://jsfiddle.net/m1erickson/6E2yd/"
          >http://jsfiddle.net/m1erickson/6E2yd/</a
        >
      </li>
    </ul>
  </div>
</div>
